@charset "UTF-8";

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.icon-stars {
  mask-image: url(stars.svg);
  -webkit-mask-image: url(stars.svg);
}
.icon-jPlus {
  mask-image: url(jPlus.svg);
  -webkit-mask-image: url(jPlus.svg);
}

.icon-rarrowUP{
    mask-image: url(RarrowUP.svg);
  -webkit-mask-image: url(RarrowUP.svg);
}

.icon-rArrowSwiper{
      mask-image: url(rArrowSwiper.svg);
  -webkit-mask-image: url(rArrowSwiper.svg);
}

.icon-userPlus{
      mask-image: url(userPlus.svg);
  -webkit-mask-image: url(userPlus.svg);
}

